# Books
The C programming language Rus.pdf
Kernighan B. W., Ritchie D. M. - The C Programming Language, Second Edition (Prentice Hall Software Series) - 1988.pdf

# DS_Store
DS_Store
/C.DS_Store

a.out
